.sliding-enter {
  opacity: 1;
  transform: translateY(-100%);
}

.sliding-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 500ms ease-in-out;
}

.sliding-exit {
  opacity: 1;
  transform: translateY(0%);
}

.sliding-exit-active {
  opacity: 1;
  transform: translateY(100%);
  transition: all 500ms ease-in-out;
}
