.sliding-enter {
  opacity: 0;
}

.sliding-enter-active {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.sliding-exit {
  opacity: 1;
}

.sliding-exit-active {
  opacity: 0;
  transition: all 500ms ease-in-out;
}
body {
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  background-repeat: none;
  min-height: 100vh;
}