@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

$primary-color: #216bb4;
$text-color: white;

body {
  margin: 0px;
  padding: 0px;
  background-image: url("../public/img/background5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  font-family: "Play", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}