$primary-color: #216bb4;

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

nav {
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 100%;
  background-color: rgba(53, 17, 69, 0.9);
  display: flex;
  align-items: center;

  .nav-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;

    img {
      height: 30px;
      clip-path: ellipse(50% 50% at 50% 50%);
      margin: 10px;
      align-self: center;
    }

    h2 {
      color: white;
      font-size: 1.2rem;
    }
  }

  .nav-actions {
    margin: 0;
    padding: 0;
    display: flex;
    // justify-content: center;
    // align-items: center;
    overflow: hidden;
    height: 0px;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 50px;
    width: 200px;
    background: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;

    @include desktop {
      background: transparent;
      backdrop-filter: blur(0px);
      height: 60px;
      flex-direction: row;
      position: relative;
      top: 0px;
      align-items: center;
      justify-content: right;
      width: fit-content;
    }

    .nav-action {
      list-style: none;
      width: 100%;
      padding: 10px;
      height: 40px;
      transition: all 0.3s ease-in-out;
      scale: 0.9;
      border-radius: 10px;

      &:hover {
        transition: all 0.3s ease-in-out;
        scale: 1;
        background-color: rgba(236, 228, 228, 0.237);

      }

      @include desktop {
        width: auto;
      }
    }

    span {
      display: inline-block;
    }

    i {
      margin-right: 15px;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: rgba(236, 228, 228, 0.644);
      }
    }
  }

  .nav-actions-visible {
    height: 160px;

    @include desktop {
      height: 60px;
    }
  }

  .nav-toggler {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    margin-right: 40px;
    background: url("../../public/img/menu.png");
    background-size: contain;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.644);

    @include desktop {
      display: none;
    }
  }
}